@model Licenta_Front_End.Models.Meeting
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Edit";
}


<hr />
<div class="row box d-flex justify-content-center">
	<div class="col-md-7">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="MeetingName" class="control-label">Meeting Name</label>
				<input asp-for="MeetingName" class="form-control" />
				<span asp-validation-for="MeetingName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProjectName" class="control-label">Project Name</label>
				<input asp-for="ProjectName" class="form-control" />
				<span asp-validation-for="ProjectName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Link" class="control-label"></label>
				<input asp-for="Link" class="form-control" />
				<span asp-validation-for="Link" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="control-label"></label>
				<input asp-for="Date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Details" class="control-label"></label>
				<textarea asp-for="Details" class="form-control" id="exampleFormControlTextareaRedeem" rows="5"></textarea>
				<span asp-validation-for="Details" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" style = "background-color: #039E67; Color: black; " />
			</div>
			@if ((Context.Session.GetString("Role") == "Leader"))
			{
				<div>
					<a asp-action="IndexForDevAndLead" class="btn btn-warning" style = "background-color: #CC621B; border-color: #CC621B; color: black;">Back to List</a>
				</div>
			}
			else
			{
				<div>
					<a asp-action="Index" class="btn btn-warning" style = "background-color: #CC621B; border-color: #CC621B; color: black;">Back to List</a>
				</div>
			}
			<br>
			<br>
		</form>
		<br>
		<br>
	</div>
	<br>
	<br>
</div>
<br>
<br>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

