@model Licenta_Front_End.Models.Project

@{
    ViewData["Title"] = "CreateProjectLeader";
}


<hr />
<div class="row box d-flex justify-content-center">
	<div class="col-md-7 butoane">
		<form asp-action="CreateProjectLeader">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="ProjectName" class="control-label">Project Name</label>
				<input asp-for="ProjectName" class="form-control"  required="required"/>
				<span asp-validation-for="ProjectName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label">Start Date</label>
				<input asp-for="StartDate" class="form-control"  required="required"/>
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AllocatedMoney" class="control-label">Allocated Money</label>
				<input asp-for="AllocatedMoney" class="form-control"  required="required"/>
				<span asp-validation-for="AllocatedMoney" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ClientName" class="control-label">Client Name</label>
				<input asp-for="ClientName" class="form-control"  required="required"/>
				<span asp-validation-for="ClientName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Detail" class="control-label"></label>
				<textarea asp-for="Detail" class="form-control" id="exampleFormControlTextareaRedeem" rows="5"  required="required"></textarea>
				<span asp-validation-for="Detail" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary " style = "background-color: #039E67; Color: black; " />
			</div>
			<div>
				<a asp-action="IndexForLeader" class="btn btn-danger" style = "background-color: #CC621B; border-color: #CC621B; color: black;">Back to List</a>
			</div>
		</form>
	</div>
</div>
<br>
<br>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
