@model Licenta_Front_End.Models.Project

@{
	ViewData["Title"] = "Edit";
}


<hr />
<div class="row box">
	<div class="col-md-4">
		<form asp-action="Edit">
			<br>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="ProjectName" class="control-label"></label>
				<input asp-for="ProjectName" class="form-control" />
				<span asp-validation-for="ProjectName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label"></label>
				<input asp-for="StartDate" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AllocatedMoney" class="control-label"></label>
				<input asp-for="AllocatedMoney" class="form-control" />
				<span asp-validation-for="AllocatedMoney" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ClientName" class="control-label"></label>
				<input asp-for="ClientName" class="form-control" />
				<span asp-validation-for="ClientName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Detail" class="control-label"></label>
				<textarea asp-for="Detail" class="form-control" value="model => model.ClienDetailtName" id="exampleFormControlTextareaRedeem" rows="5" ></textarea>
				<span asp-validation-for="Detail" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" style = "background-color: #039E67; Color: black; " />
			</div>
			<div>
				<a asp-action="Index" class="btn btn-warning" style = "background-color: #E6B471;color: black;" >Back to List</a>
			</div>
			<br>
		</form>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
