@model Licenta_Front_End.Models.Task
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "DetailsForRedeem";
}



<div>
	<hr />
	<dl class="row box">
		<dt class="col-sm-2 butoane"></dt>
		<dd class="col-sm-10"></dd>
		<dt class="col-sm-2 butoane">
			Task Name
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="TaskName" class="form-control" value="model => model.TaskName" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2 butoane">
			Project Name
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="ProjectName" class="form-control" value="model => model.ProjectName" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>
		<dt class="col-sm-2 butoane">
			Status
		</dt>
		<dd class="col-sm-10">
			<textarea asp-for="Status" class="form-control" value="model => model.Status" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
		</dd>


		@if ((Context.Session.GetString("Role") != "Developer") && (Context.Session.GetString("Role") != "Leader"))
		{
			<dt class="col-sm-2">
				Task Owner ID
			</dt>
			<dd class="col-sm-10">
				<textarea asp-for="TaskOwnerID" class="form-control" value="model => model.TaskOwnerID" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
			</dd>
			<dt class="col-sm-2">
				Id
			</dt>
			<dd class="col-sm-10">
				<textarea asp-for="Id" class="form-control" value="model => model.Id" id="exampleFormControlTextarea" rows="1" readonly="readonly" style="resize:none;"></textarea>
			</dd>
		}

		<dt class="col-sm-2">Details</dt>
		<dd class="col-sm-10">
			<textarea asp-for="Details" class="form-control" value="model => model.Details" id="exampleFormControlTextareaRedeem" rows="5" readonly="readonly" ></textarea>

		</dd>

		<div class="butoane">


			@if ((Context.Session.GetString("Role") == "Developer") || (Context.Session.GetString("Role") == "Leader"))
			{
				<a asp-action="RedeemTasks" class="btn btn-warning" style = "background-color: #CC621B; border-color: #CC621B; color: black;" >Back to List</a>
			}
			else
			{
				<a asp-action="Index" class="btn btn-warning" style = "background-color: #CC621B; border-color: #CC621B; color: black;">Back to List</a>
			}
			<br>
			<br>
		</div>
		<br>
		<br>
	</dl>
	<br>
	<br>
</div>
<br>
<br>


&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
