@{
	ViewData["Title"] = "IndexHome";
}

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Success</title>
</head>
<body>

	<div class="row justify-content-center ">
		<div class="box welcome">
			<br>
			<a></a>
			<a style="font-size:20px" >&emsp;&emsp;&emsp;&emsp;Welcome&emsp;&emsp; @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")  &emsp;&emsp; To &emsp; P.M.W.A. &emsp;&emsp;&emsp;&emsp;</a>
			<br>
			<br>


		</div>
	</div>
</body>
</html>