@model Licenta_Front_End.Models.Team

@{
	ViewData["Title"] = "AddMember";
}


	<div class="row box d-flex justify-content-center">
		<div class="col-md-5 butoane">
			<form asp-action="AddMember">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="FirstName" class="control-label">First Name</label>
					<input asp-for="FirstName" class="form-control" required="required" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="LastName" class="control-label">Last Name</label>
					<input asp-for="LastName" class="form-control" required="required" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>


				<div class="form-group" style="display: none">
					<label asp-for="ProjectName" class="control-label">Project Name</label>
					<input asp-for="ProjectName" class="form-control" value="@Html.ValueFor(o => o.ProjectName)" />
					<span asp-validation-for="ProjectName" class="text-danger"></span>
				</div>
				<div class="form-group" style="display: none">
					<label asp-for="TeamLeaderFirstName" class="control-label"></label>
					<input asp-for="TeamLeaderFirstName" class="form-control" value="@Html.ValueFor(o => o.TeamLeaderFirstName)" />
					<span asp-validation-for="TeamLeaderFirstName" class="text-danger"></span>
				</div>
				<div class="form-group" style="display: none">
					<label asp-for="TeamLeaderLastName" class="control-label"></label>
					<input asp-for="TeamLeaderLastName" class="form-control" value="@Html.ValueFor(o => o.TeamLeaderLastName)" />
					<span asp-validation-for="TeamLeaderLastName" class="text-danger"></span>
				</div>


				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" style = "background-color: #039E67; Color: black; " />
				</div>

				<div>
					<a asp-action="IndexLeader" class="btn btn-warning" style = "background-color: #CC621B; border-color: #CC621B; color: black;">Back to List</a>
				</div>

			</form>
		</div>
	</div>



@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
