@model Licenta_Front_End.Models.Team

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row box">
	<div class="col-md-5 butoane">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProjectName" class="control-label"></label>
				<input asp-for="ProjectName" class="form-control" />
				<span asp-validation-for="ProjectName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TeamLeaderFirstName" class="control-label"></label>
				<input asp-for="TeamLeaderFirstName" class="form-control" />
				<span asp-validation-for="TeamLeaderFirstName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="TeamLeaderLastName" class="control-label"></label>
				<input asp-for="TeamLeaderLastName" class="form-control" />
				<span asp-validation-for="TeamLeaderLastName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
			<div>
				<a asp-action="Index" class="btn btn-primary">Back to List</a>
			</div>
			<br>
			<br>
		</form>
	</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
