@model Licenta_Front_End.Models.Inbox

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row box">
    <div class="col-md-4">
		<form asp-action="Edit">
			<br>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Recipient" class="control-label"></label>
				<input asp-for="Recipient" class="form-control" />
				<span asp-validation-for="Recipient" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Sender" class="control-label"></label>
				<input asp-for="Sender" class="form-control" />
				<span asp-validation-for="Sender" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Message" class="control-label"></label>
				<input asp-for="Message" class="form-control" />
				<span asp-validation-for="Message" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label"></label>
				<input asp-for="Status" class="form-control" />
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary"  style = "background-color: #039E67; Color: black; "/>
			</div>
			<div>
				<a asp-action="Index" class="btn btn-warning" style = "background-color: #E6B471;color: black;">Back to List</a>
			</div>
			<br>
			<br>
		</form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
